<app-navbar ></app-navbar>
<div class="row  p-0 m-0 vh-100">
  <div class="col-lg-6 p-0 m-0 d-flex justify-content-center align-items-center flex-column">
    <div class="container p-5">
      <h2 class="heading fw-bolder display-5 lh-1 mb-3">
        A reliable <span style="color: blueviolet">Password</span> manager for everyone
      </h2>
      <p class="description fs-5 lh-sm mb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est non modi
        tempore perspiciatis maiores amet enim ipsa eaque minus architecto!
      </p>
      <button class="btn custom-bg mb-3">Get started</button>
    </div>
  </div>
  <div
    class="col-lg-6 d-flex justify-content-center align-items-center flex-column"
  >
    <div class="w-75 hero-img-cont">
      <img
        class="rounded-circle hero-image shadow-lg mx-auto"
        width="300"
        height="300"
        src="../../assets/images/girl.jpg"
        alt=""
      />
    </div>
  </div>
</div>
