<nav color="primary">
  <div style="flex: 1; cursor: pointer">
    <a class="fs-5 navbar-brand" (click)="routeControllService.goToLogin('/')"
      ><img src="../../../assets/images/logo.svg" width="130" alt=""
    /></a>
  </div>
  <div>
    <button
      class="active btn"
      (click)="routeControllService.goToLogin('/login')"
    >
      Login
    </button>
    <button
      class="btn signup"
      (click)="routeControllService.goToSignup('/signup')"
    >
      Signup
    </button>
  </div>
</nav>
