nav {
  display: flex;
  padding: 10px 30px;
  align-items: center;
  background-color: var(--bg-secondary);
}
nav button {
  margin: 0px 12px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50px;
}
nav .active {
  background-color: var(--bg-10);
  color: var(--color-primary) !important;
}
nav .signup {
  color: var(--bg-70);
  border: 1px solid var(--bg-70);
}
