<div class="container-fluid bg-light">
 <div class="row">
    <div class="col-md-2">
        <img src="../../../assets/images/logo.svg" width="100%" alt="">
    </div>
    <div class="col-md-2">
        <h3 class="fs-4">Website</h3>
        <ul class="list-group bg-transparent border-0">
            <li class="list-group-item bg-transparent border-0 mx-0 px-0 text-capitalize">home</li>
            <li class="list-group-item text-capitalize border-0 mx-0 px-0">services</li>
            <li class="list-group-item border-0 mx-0 text-capitalize px-0">about</li>
            <li class="list-group-item border-0 px-0 mx-0 text-capitalize">blog</li>
            <li class="list-group-item border-0 px-0 mx-0 text-capitalize">contact</li>
          </ul>

    </div>
    <div class="col-md-2">
        <h3 class="fs-4">Admin pages</h3>
        <ul class="list-group bg-transparent border-0">
            <li class="list-group-item bg-transparent border-0 mx-0 px-0 text-capitalize">instructions</li>
            <li class="list-group-item text-capitalize border-0 mx-0 px-0">liscence</li>
            <li class="list-group-item border-0 mx-0 text-capitalize px-0">style guide</li>
            <li class="list-group-item border-0 px-0 mx-0 text-capitalize">changelog</li>
          </ul>
    </div>
    <div class="col-md-2">
        <h3 class="fs-4">Follow us</h3>
        <ul class="list-group bg-transparent border-0">
            <li class="list-group-item bg-transparent border-0 mx-0 px-0 text-capitalize"><i class="fa-brands fa-x-twitter me-2"></i>X</li>
            <li class="list-group-item text-capitalize border-0 mx-0 px-0"><i class="fa-brands fa-instagram me-2"></i>instagram</li>
            <li class="list-group-item border-0 mx-0 text-capitalize px-0"><i class="fa-brands fa-linkedin me-2"></i>linkedin</li>
            <li class="list-group-item border-0 px-0 mx-0 text-capitalize"><i class="fa-brands fa-facebook-f me-2"></i>Facebook</li>
            <li class="list-group-item border-0 px-0 mx-0 text-capitalize"><i class="fa-brands fa-youtube me-2"></i>Youtube</li>
          </ul>
    </div>
    <div class="col-md-4"></div>
 </div>

 <hr  style="color:#999; width: 70%;margin:50px auto;">
 <div class="row">
    <div class="col-md-4">
        <span >© 2024 MacroFlow. All rights reserved.</span>
    </div>
    <div class="col-md-4"><span>Designed by Flowversity. Build in Webflow.</span></div>
    <div class="col-md-4"></div>
 </div>
</div>