<div class="container-fluid d-flex justify-content-center align-items-center flex-column">
  <div class=" w-75 p-6 d-flex flex-column align-items-center">
    <h3 class="heading text-center">Comprehensive Marketing Solutions for Global Businesses</h3>
    <p class="description  text-center w-75">At MacroFlow, we offer consulting and design services to help businesses create effective marketing campaigns, guiding you in tailoring your strategy to your audience and objectives using the latest.</p>
  </div>

 <div class="row">
    <div class="col-md-4">
        <div class="benefit rounded">
            <h3 class="heading fs-4">Consulting & Design</h3>
            <p class="description">Our consulting and design services help businesses develop strategic marketing plans and create visually appealing campaigns for their target audience.</p>
        </div>
      
    </div>
    <div class="col-md-4">
        <div class="benefit rounded">
            <h3 class="heading fs-4">Implementation & Development</h3>
            <p class="description">Our consulting and design services help businesses develop strategic marketing plans and create visually appealing campaigns for their target audience.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="benefit rounded">
            <h3 class="heading fs-4">Drive Sales and Increase ROI</h3>
            <p class="description">Our consulting and design services help businesses develop strategic marketing plans and create visually appealing campaigns for their target audience.</p>
        </div>
    </div>
 </div>
</div>