<div class="container-fluid">
    <h1 class="heading text-center">What our Clients say</h1>
    <p class="description text-center">Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam neque ultrices.</p>

    <div class="row">
        <div class="col-md-4">
            <div class="feedback  rounded">
             <h3 class="heading text-center fs-4">“An Amazing Service that covered all the bases”</h3>
             <p class="description text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>
             <div class="client">
                <img src="../../../assets/images/client.png" alt="">
                <h4 class="heading fs-4 text-center">Mark Johnson</h4>
                <p class="description text-center">Marketing Lead  MarketFlow
                </p>
             </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feedback  rounded">
                <h3 class="heading text-center fs-4">“An Amazing Service that covered all the bases”</h3>
                <p class="description text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>
                <div class="client">
                   <img src="../../../assets/images/client.png" alt="">
                   <h4 class="heading fs-4 text-center">Mark Johnson</h4>
                   <p class="description text-center">Marketing Lead  MarketFlow
                   </p>
                </div>
               </div>
        </div>
        <div class="col-md-4">
            <div class="feedback  rounded">
                <h3 class="heading text-center fs-4">“An Amazing Service that covered all the bases”</h3>
                <p class="description text-center ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>
                <div class="client">
                   <img src="../../../assets/images/client.png" alt="">
                   <h4 class="heading fs-4 text-center">Mark Johnson</h4>
                   <p class="description text-center">Marketing Lead  MarketFlow
                   </p>
                </div>
               </div>
        </div>
    </div>
</div>