<div class="container-fluid px-5 feature-one">
    <div class="row">
        <div class="col-md-8">

            <div class="benefit rounded">
                <h3 class="heading fs-3">Consultation</h3>
                <p class="description">Our consulting and design services help businesses develop strategic marketing plans and create visually appealing campaigns for their target audience.</p>
            </div>

            <div class="benefit rounded">
                <h3 class="heading fs-3">Asset Creation</h3>
                <p class="description">Our consulting and design services help businesses develop strategic marketing plans and create visually appealing campaigns for their target audience.</p>
            </div>

            <div class="benefit rounded">
                <h3 class="heading fs-3">Strategy Implementation</h3>
                <p class="description">Our consulting and design services help businesses develop strategic marketing plans and create visually appealing campaigns for their target audience.</p>
            </div>


        </div>
        <div class="col-md-4">
            <div style="margin:5rem auto;">
                <h1 class="heading fs-1">Providing Top of the Line Services in all Plans</h1>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
                </p>
            </div>
   
        </div>
    </div>
</div>


<div class="container-fluid feature-two">
<div class="row main p-0 m-0 position-relative">
    <div class="col-lg-6 p-0 m-0 d-flex justify-content-center align-items-center flex-column">
      <div class="container p-5">
        <h2 class="heading  lh-1 mb-3">
            Drive Sales and Achieve Business Growth
        </h2>
        <p class="description fs-5 lh-sm mb-3">
            At MacroFlow, we offer marketing solutions to boost sales and drive sustainable growth, including strategic consulting, design, and seamless implementation.
        </p>

    <div class="my-5">
        <p><i class="fa fa-check-circle mx-2" aria-hidden="true"></i> Strategic Consulting for Targeted Marketing Strategies</p>
          <p><i class="fa fa-check-circle mx-2" aria-hidden="true"></i> Creative Design for Compelling Brand Messaging</p>
      <p><i class="fa fa-check-circle mx-2" aria-hidden="true"></i> 
        Seamless Implementation for Effective Campaign Execution</p>
    </div>
    <div class="my-4 w-lg-75 w-100 d-flex  justify-start align-items-center">
        <button class="btn custom-bg bg-active mb-3 me-3 border" style="border-radius: 50px">
          Get started</button
        ><button
          class="btn border mb-3  custom-bg bg-transparent text-light"
          style="border-radius: 50px"
        >
          Learn more
        </button>
      </div>
       
      </div>
    </div>
    <div
      class="col-lg-6 d-flex justify-content-center align-items-center flex-column"
    >
      <div class="w-75 hero-img-cont">
        <img
          class="rounded hero-image shadow-lg mx-auto"
          width="500"
          height="auto"
          src="../../../assets/images/sales_Illustration.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<div class="container-fluid feature-three px-5">
    <div class="row">
        <div class="col-md-6">
            <h2 class="heading fs-2  lh-1 mb-3">
                Optimize your marketing strategies
            </h2>
            <p class="description fs-5 lh-sm mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
            </p>
        </div>
        <div class="col-md-6">

         <div class="row mb-2">
            <div class="col-2  d-flex flex-column gap-2 align-items-center">
            <div class="list-one text-lightflex-shrink-0"><span>1</span></div>
            <div class="list-line"></div>
              
            </div>
            <div class="col-10">
                <div class="">
                    <h3 class="heading fs-3">Consultation Call</h3>
                    <p class="description">Our consulting and design services help businesses develop strategic marketing plans and create visually appealing campaigns for their target audience.</p>
                </div>
            </div>    
         </div>


         <div class="row mb-2">
            <div class="col-2  d-flex flex-column gap-2 align-items-center">
            <div class="list-one text-lightflex-shrink-0"><span>2</span></div>
            <div class="list-line"></div>
              
            </div>
            <div class="col-10">
                <div class="">
                    <h3 class="heading fs-3">Strategy optimization</h3>
                    <p class="description">Our consulting and design services help businesses develop strategic marketing plans and create visually appealing campaigns for their target audience.</p>
                </div>
            </div>    
         </div>


         <div class="row mb-2">
            <div class="col-2  d-flex flex-column gap-2 align-items-center">
            <div class="list-one text-lightflex-shrink-0"><span>3</span></div>
            <div class="list-line"></div>
              
            </div>
            <div class="col-10">
                <div class="">
                    <h3 class="heading fs-3">Marketing Design</h3>
                    <p class="description">Our consulting and design services help businesses develop strategic marketing plans and create visually appealing campaigns for their target audience.</p>
                </div>
            </div>    
         </div>

         <div class="row mb-2">
            <div class="col-2  d-flex flex-column gap-2 align-items-center">
            <div class="list-one text-lightflex-shrink-0"><span>4</span></div>
            <div class="list-line"></div>
              
            </div>
            <div class="col-10">
                <div class="">
                    <h3 class="heading fs-3">Strategy Implementation</h3>
                    <p class="description">Our consulting and design services help businesses develop strategic marketing plans and create visually appealing campaigns for their target audience.</p>
                </div>
            </div>    
         </div>
        </div>
    </div>
</div>