<div class="container-fluid">
    <h1 class="heading text-center">Meet our Team</h1>
    <p class="description text-center w-75 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>

    <div class="row">
        <div class="col-md-4">
            <div class="member">
                <img class="rounded" src="../../../assets/images/client.png" alt="">
                       <h4 class="heading fs-5 text-center">Mark Johnson</h4>
                       <p class="description text-center">Marketing Lead  MarketFlow
                       </p>
                       <p class=" description text-justify">Emily Parker is the driving force behind our design department, where she consistently delivers exceptional visual </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="member">
                <img class="rounded" src="../../../assets/images/client.png" alt="">
                       <h4 class="heading fs-5 text-center">Mark Johnson</h4>
                       <p class="description text-center">Marketing Lead  MarketFlow
                       </p>
                       <p class=" description text-justify">Emily Parker is the driving force behind our design department, where she consistently delivers exceptional visual </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="member">
                <img class="rounded" src="../../../assets/images/client.png" alt="">
                       <h4 class="heading fs-5 text-center">Mark Johnson</h4>
                       <p class="description text-center">Marketing Lead  MarketFlow
                       </p>
                       <p class=" description text-justify">Emily Parker is the driving force behind our design department, where she consistently delivers exceptional visual </p>
            </div>
        </div>
    
    </div>
</div>
