<div class="container-fluid">

    <h1 class="heading text-center">Affordable Pricing Options</h1>
    <p class="description text-center">Choose the plan that fits your needs and budget</p>

    <div class="mx-auto my-5 rounded btn-cont  d-flex justify-content-center align-items-center">
        <button class="btn custom-bg  border ">Get started</button><button class="btn border custom-bg bg-transparent   text-light">Learn more</button>
      </div>

      <div class="row">
        <div class="col-md-4">
            <div class="basic">
             <h2 class="heading fs-3">Basic</h2>
             <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut sollicitudin turpis. Sed auctor, tellus eu lacinia efficitur, sem sem consequat risus.</p>
             <hr style="width: 100%;color: #ddd;margin:30px 0px;">
             <h3 style="position: relative;" class="heading"><sup>$39</sup><sub style="color: rgb(88, 88, 82);font-size: 24px;position: absolute;top:20px;">/year</sub></h3>

             <button class="btn price-btn">Get started</button>
             <hr style="width: 100%;color: #ddd;margin:30px 0px;">

             <div class="my-5 " style="margin-bottom: 100px;">
                <p><i class="fa fa-check-circle mx-2" aria-hidden="true"></i>
                    Includes essential features</p>
                  <p><i class="fa fa-check-circle mx-2" aria-hidden="true"></i>24/7 customer support</p>
              <p><i class="fa fa-check-circle mx-2" aria-hidden="true"></i> Access to analytics dashboard</p>
            </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="pro">
                <h2 class="heading fs-3">Basic</h2>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut sollicitudin turpis. Sed auctor, tellus eu lacinia efficitur, sem sem consequat risus.</p>
                <hr style="width: 100%;color: #ddd;margin:30px 0px;">
                <h3 style="position: relative;" class="heading"><sup>$39</sup><sub style="color: rgb(88, 88, 82);font-size: 24px;position: absolute;top:20px;">/year</sub></h3>
   
                <button class="btn price-btn">Get started</button>
                <hr style="width: 100%;color: #ddd;margin:30px 0px;">
   
                <div class="my-5 " style="margin-bottom: 100px;">
                   <p><i class="fa fa-check-circle mx-2" aria-hidden="true"></i>
                       Includes essential features</p>
                     <p><i class="fa fa-check-circle mx-2" aria-hidden="true"></i>24/7 customer support</p>
                 <p><i class="fa fa-check-circle mx-2" aria-hidden="true"></i> Access to analytics dashboard</p>
               </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="enterprice">
                <h2 class="heading fs-3">Basic</h2>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut sollicitudin turpis. Sed auctor, tellus eu lacinia efficitur, sem sem consequat risus.</p>
                <hr style="width: 100%;color: #ddd;margin:30px 0px;">
                <h3 style="position: relative;" class="heading"><sup>$39</sup><sub style="color: rgb(88, 88, 82);font-size: 24px;position: absolute;top:20px;">/year</sub></h3>
   
                <button class="btn price-btn">Get started</button>
                <hr style="width: 100%;color: #ddd;margin:30px 0px;">
   
                <div class="my-5 " style="margin-bottom: 100px;">
                   <p><i class="fa fa-check-circle mx-2" aria-hidden="true"></i>
                       Includes essential features</p>
                     <p><i class="fa fa-check-circle mx-2" aria-hidden="true"></i>24/7 customer support</p>
                 <p><i class="fa fa-check-circle mx-2" aria-hidden="true"></i> Access to analytics dashboard</p>
               </div>
            </div>
        </div>
      </div>


</div>