
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$crud-primary: mat.define-palette(mat.$indigo-palette);
$crud-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$crud-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$crud-theme: mat.define-light-theme((
  color: (
    primary: $crud-primary,
    accent: $crud-accent,
    warn: $crud-warn,
  )
));

// GOOGLE FONT

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($crud-theme);

/* You can add global styles to this file, and also import other style files */


:root {
  --bg-70:#ffffff;
  --bg-20:#cccbcb;
  --bg-secondary:#5f16e6;
  --bg-10:#191919;

  --color-primary: #e2e0e0;
  --color-secondary:#fff;
 --color-warn:#af4040;
}

body { 
  margin: 0; 
  font-family: "Noto Sans", sans-serif;
  background-color: var(--bg-70);
 }

 *{
  font-family: "Noto Sans", sans-serif;
  padding:0px;
  margin: 0px;
 }

 h1,h2,h3,h4,h5,h6,p,span{
  color: var(--color-primary);
  
 }

 .custom-bg{
  background-color: var(--bg-10)!important;
  color: var(--bg-70)!important;
  padding: 10px 25px!important;
  font-size: 15px;
 }

 .heading {
  font-family: "Noto Sans", sans-serif;
  font-weight:700;
  font-size:3rem;
  color: var(--color-secondary);
 }
 .description {
  font-family: "Noto Sans", sans-serif;
  font-weight:normal;
  font-size: 1rem;
  color: var(--color-primary);
 }



 





/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('./app/Stylesheets/login-signup.css');
@import 'ngx-toastr/toastr-bs5-alert';

